<div class="stories-list">
      <% @stories.each do |story| %>
        <div class="story-item">
          <div class="story-item-voting">
            <div>
            <%= link_to "", votes_path(story_id: story.id, direction: :up ) , class: "glyphicon glyphicon-chevron-up story-item-vote-arrow" %>
            <%= story.points %>
            <%= link_to "", votes_path(story_id: story.id, direction: :down ), class: "glyphicon glyphicon-chevron-down story-item-vote-arrow" %>
          </div>
          </div><!-- .story-item-vote -->

          <div class="story-item-details">
            <a href="<%= story_path(story) %>">
              <img class="story-item-image" src="<%= story.image %>"/>
            </a>
            <h3>
              <%= link_to story.title, story %>
            </h3>
            <%= link_to 'Comments', story_path(story, anchor: 'comments') %>

            <strong>Submited:</strong> <%= time_ago_in_words(story.created_at) %> ago
          </div><!-- .story-item-details -->
        </div><!-- .story-item -->
      <% end %>
</div><!-- stories-list -->
