<!-- <ul>
  <% @stories.each do |story| %>
    <li>
      <img src="<%= story.image %>" />
      <a href="#"><%= story.title %></a> 
       (<%= story.points %> credits)
    </li>
  <% end %>
</ul>
 -->

 <div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="panel panel-default">
						




						<% @stories.each do |story| %>

							<div class="panel-heading">
      							
      							<a href="#"><%= story.title %></a> 
      							
      						</div> <!-- .panel-heading -->

						<div class="panel-body bg-info">
							<img src="<%= story.image %>" />
							(<%= story.points %> scores)
							<a href="">Comments</a>
						</div><!-- .panel-body -->

						<% end %>















					</div><!-- .panel .panel-default -->
				</div><!-- .col-sm-8 -->
				
				<div class="col-sm-3 bg-success position-fixed">

					<input type="search" placeholder="Search HACW" class="search">
					<span type="submit" class="glyphicon glyphicon-search"></span>
					<div class="form-group">
						<h4>Please log in</h4> 
						<label for="username" class="label"></label>
						<input type="text" class="form-control" id="username" placeholder="Username">

						<label for="password" class="label"></label>
						<input type="password" class="form-control" id="password" placeholder="Password">

						<input class="btn btn-success"  type="submit" value="Sing in">
						<input class="btn btn-warning" type="reset" value="Reset">

					</div><!-- .form-group -->
					<a href="" class="btn btn-info">Submit a new link</a>
				
				</div><!-- col-sm-4 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</body>
