<div class="container">
  <h1>Submit a story</h1>

  <p>Found something of interest to our community of 200,000 car enthusiasts?  Tell us and we'll
    share it with everyone.</p>
  <%= form_for @story do |f| %>
    <%= error_messages_for @story %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :url, "URL of story" %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>

    <fieldset>
      <legend>About you</legend>
      <div class="form-group">
        <%= f.label :submitter_name, 'Your name' %>
        <%= f.text_field :submitter_name, class: 'form-control' %>
        <p class="help-block">We'll credit you with finding this story. Feel
          free to leave it blank.</p>
      </div>

      <div class="form-group">
        <%= f.label :submitter_email, 'Your email' %>
        <%= f.text_field :submitter_email, class: 'form-control' %>
        <p class="help-block">Optional - We'll email you when your link is live</p>
      </div>
    </fieldset>

    <%= f.submit 'Submit story', class: 'btn btn-primary' %>
  <% end %>
</div>
