<div class="container">
  <div class="story-header">
    <%= image_tag @story.image, alt: @story.title %>
    <%= link_to '', '#', class: "glyphicon glyphicon-chevron-up story-box-vote-arrow" %>

    <h1><%= link_to @story.title, @story.url %></h1>

    <div class="story-voting">
      <span class="label label-info label-story-points"><%= @story.points %> points</span>
    </div>

    <div class="story-meta">
      Story submitted <%= time_ago_in_words @story.created_at %> ago.
      <h3 id="comments"><%= pluralize(@story.comments.count, 'comment') %></h3>
    </div><!-- .story-meta -->
  </div><!-- story-header -->

  <%= form_for @story.comments.build, html:{ class: 'story-comment-form'} do |f| %>
    <%= f.hidden_field :story_id %>
    <%= f.text_area :body, placeholder: "Comment on this story." %>

    <%= f.submit 'Add comment', class: 'btn btn-primary' %>
  <% end %>

  <div class="comments-list">
    <% @story.comments.roots.order('points DESC').each do |comment| %>
    <%= render comment %>
    <% end %>
  </div> <!-- .comments-list -->
</div>
